@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@theme {
    --font-poppins: Poppins;
    --font-montserrat: Montserrat;

    --color-primary: #fe9aa0;
    --color-secondary: #ffe7e7;
    --color-accent: #ff6a51;

    --breakpoint-phone: 537px;
    --container-my-container: 537px;
}

@layer base {
    * {
        font-family: 'Poppins'
    }
    
    body {
        @apply bg-slate-100;
    }
}

@utility header {
    @apply fixed left-0 top-0 right-0 z-10 bg-primary p-4;
}

@utility header-nav {
    @apply flex max-w-my-container phone:mx-auto;
}

@utility main {
    @apply bg-white min-h-screen max-w-my-container phone:mx-auto;
}

@utility bottom-nav {
    @apply fixed bottom-2 left-0 right-0 bg-transparent p-4 z-20 w-full phone:bottom-8;
}

@utility bottom-nav-items-container {
    @apply flex gap-2 bg-white justify-evenly phone:justify-between items-center p-4 rounded-full shadow-md shadow-gray-400;
}

@utility bottom-nav-link {
    @apply rounded-full flex gap-2 items-center justify-center text-gray-400 size-8 phone:size-auto phone:px-6 phone:py-2;
}
@utility bottom-nav-link-active {
    @apply rounded-full bg-primary flex gap-2 items-center justify-center text-white size-8 phone:size-auto phone:px-6 phone:py-2;
}
